<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/ListaUtenti/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("N.O.T.", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Informazioni", "About", "Home")</li>
                        <li>@Html.ActionLink("Contatto", "Contact", "Home")</li>

                        <li>@Html.ActionLink("Test Registrato", "Identita", "Test")</li>
                        <li>@Html.ActionLink("Test Anonimo", "NonIdentita", "Test")</li>
                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Lista Ruoli", "ListaRuoli", "Admin")</li>
                        }
                        @if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Manager")))
                        {
                            <li>@Html.ActionLink("Lista Utenti", "ListaUtenti", "Admin")</li>
                        }
                        <li>@Html.ActionLink("Lista Utenti 2", "ListaUtenti", "Admin")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            @Html.ActionLink("N.O.T.", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active" : "")">
                        @Html.ActionLink("Informazioni", "About", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active" : "")">
                        @Html.ActionLink("Contatto", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item dropdown @(ViewContext.RouteData.Values["Action"].ToString() == "Identita" ? "active" : "") @(ViewContext.RouteData.Values["Action"].ToString() == "NonIdentita" ? "active" : "")">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Test
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @Html.ActionLink("Test Registrato", "Identita", "Test", new { area = "" }, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("Test Anonimo", "NonIdentita", "Test", new { area = "" }, new { @class = "dropdown-item" })
                        </div>
                    </li>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                        <li class="nav-item dropdown  @(ViewContext.RouteData.Values["Action"].ToString() == "ListaUtenti" ? "active" : "") @(ViewContext.RouteData.Values["Action"].ToString() == "ListaRuoli" ? "active" : "")">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @Html.ActionLink("Lista Utenti", "ListaUtenti", "Admin", new { area = "" }, new { @class = "dropdown-item" })
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("Lista Ruoli", "ListaRuoli", "Admin", new { area = "" }, new { @class = "dropdown-item" })
                            </div>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Applicazione ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/popper")
    
    @RenderSection("scripts", required: false)
</body>
</html>
